
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container1">
        <div class="row">
            I am an admin page and I do stuff
        </div>
    </div>
