<div class="row align-items-center justify-content-center">

        <div class="col-sm-8" style="padding-left:10%; padding-right:10%">
            <h2 style="color: midnightblue">Welcome Administrators</h2>
            <a href="/logout">
                Logout
            </a>
        
            <form class="manage">
                <br>
                <div class="form-group">
                    <label for="ID-change">Enter ID of entry to change:</label>
                    <input type="id-change" class="form-control" id="id-input" placeholder="ID of entry to change">
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    id="display-btn">
                    Display
                </button>

                <button class="btn btn-default" id="delete-btn">Delete</button>
            </form>

        </div>

        <div class="col-sm-4" style="background-color: midnightblue;height:100vh;">
            <div style="font-size: 150px;align-items:center;margin-top: auto;
                    margin-bottom: auto;padding-top:40%; padding-left: 25%">
                💉
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


