<div class="container">
  <div class="jumbotron textBlue">
    <h1 class="display-3">COVID-19 Vaccine Data Collection</h1>
    <p class="lead">First time visitors, please fill in the following fields:</p>
    <p class="font-italic">(Returning users, please proceed to the Statistics page)</p>
  </div>
  <form id="covidSurvey">
    <hr class="my-2">
    <!-- Demographic Questions -->
    <div class="container textBlue">
      <div class="form-row">
        <div class="form-group">
          <label for="inputAge">Age</label>
          <input type="number" id="inputAge" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputRace">Race</label>
          <select id="inputRace" class="form-control">
            <option selected>Choose One...</option>
            <option value="White">White</option>
            <option value="African American">African American</option>
            <option value="American Indian">American Indian</option>
            <option value="Chinese">Chinese</option>
            <option value="Hispanic">Hispanic</option>
            <option value="Latino">Latino</option>
            <option value="Spanish">Spanish</option>
            <option value="Other Hispanic">Other Hispanic</option>
            <option value="Pacific Islander">Pacific Islander</option>
            <option value="Filipino">Filipino</option>
            <option value="Korean">Korean</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Native Hawaiian">Native Hawaiian</option>
            <option value="Chamorro">Chamorro</option>
            <option value="Samoan">Samoan</option>
            <option value="Asian Indian">Asian Indian</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="inputSex">Sex</label>
          <select id="inputSex" class="form-control">
            <option selected>Choose One...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Intersex">Intersex</option>
            <option value="Prefer not to disclose">Prefer not to disclose</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputCovidPrevious">Have you tested positive for COVID-19 prior to receiving a vaccine?</label>
          <select id="inputCovidPrevious" class="form-control">
            <option selected>Choose One...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Unsure">Unsure</option>
          </select>
        </div>
      </div>
    </div>
    <!-- First Shot Symptom Questions -->
    <div class="container textBlue">
      <div class="form-row">
        <div class="form-group">
          <label for="inputVaccine">Vaccine Taken</label>
          <select id="inputVaccine" class="form-control">
            <option selected>Choose One...</option>
            <option value="Moderna">Moderna</option>
            <option value="Pfizer">Pfizer</option>
            <option value="Johnson & Johnson">Johnson & Johnson</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputFirstDose">Date of first dose?</label>
          <input type="date" id="inputFirstDose" class="form-control">
        </div>
      </div>
      <h4>Symptoms Experienced:</h4>
      <h6>Please select any symptoms you experienced after your 1st dose:</h6>
      <div class="form-row">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomFever1">
            <label class="form-check-label" for="symptomFever1">Fever</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomRash1">
            <label class="form-check-label" for="symptomRash1">Rash</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomFatigue1">
            <label class="form-check-label" for="symptomFatigue1">Fatigue</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomJointPain1">
            <label class="form-check-label" for="symptomJointPain1">Joint Pain</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomAllergicReaction1">
            <label class="form-check-label" for="symptomAllergicReaction1">Severe Allergic Reaction</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomVomiting1">
            <label class="form-check-label" for="symptomVomiting1">Vomiting</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomInjectionPain1">
            <label class="form-check-label" for="symptomInjectionPain1">Injection Site Pain</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomHeadache1">
            <label class="form-check-label" for="symptomHeadache1">Headache</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomMuscleAches1">
            <label class="form-check-label" for="symptomMuscleAches1">Muscle Aches/Pain</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomChills1">
            <label class="form-check-label" for="symptomChills1">Chills</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomNausea1">
            <label class="form-check-label" for="symptomNausea1">Nausea</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomSwelling1">
            <label class="form-check-label" for="symptomSwelling1">Swelling</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="noSymptoms1">
            <label class="form-check-label" for="noSymptoms1">I experienced no symptoms</label>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-2">
    <!-- Second Shot Symptom Questions -->
    <div class="container textBlue">
      <div class="form-row">
        <div class="form-group">
          <label for="inputSecondDose">Date of second dose?</label>
          <input type="date" id="inputSecondDose" class="form-control">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="secondDose">
            <label class="form-check-label" for="secondDose">I have not yet received my second dose</label>
          </div>
        </div>
      </div>
      <h4>Symptoms Experienced:</h4>
      <h6>Please select any symptoms you experienced after your 2nd dose:</h6>
      <div class="form-row">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomFever2">
            <label class="form-check-label" for="symptomFever2">Fever</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomRash2">
            <label class="form-check-label" for="symptomRash2">Rash</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomFatigue2">
            <label class="form-check-label" for="symptomFatigue2">Fatigue</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomJointPain2">
            <label class="form-check-label" for="symptomJointPain2">Joint Pain</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomAllergicReaction2">
            <label class="form-check-label" for="symptomAllergicReaction2">Severe Allergic Reaction</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomVomiting2">
            <label class="form-check-label" for="symptomVomiting2">Vomiting</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomInjectionPain2">
            <label class="form-check-label" for="symptomInjectionPain2">Injection Site Pain</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomHeadache2">
            <label class="form-check-label" for="symptomHeadache2">Headache</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomMuscleAches2">
            <label class="form-check-label" for="symptomMuscleAches2">Muscle Aches/Pain</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomChills2">
            <label class="form-check-label" for="symptomChills2">Chills</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomNausea2">
            <label class="form-check-label" for="symptomNausea2">Nausea</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="symptomSwelling2">
            <label class="form-check-label" for="symptomSwelling2">Swelling</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="noSymptoms2">
            <label class="form-check-label" for="noSymptoms2">I experienced no symptoms</label>
          </div>
        </div>
      </div>
      <button class="btn green btn-lg" role="button" id="submitSurvey" type="submit">Submit</button>
  </form>
</div>
<br>