
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container1">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 contain1">
                <h2>Admin Sign In</h2>
                <form class="login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" id="username-input" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default" id="login-btn">Login</button>
                </form>

            </div>
        </div>
    </div>
