<div class="container green text-center textBlue p-4">
    <h1>Statistics</h1>
    <p>The below graphs show the commons side-effects experienced by our users.</p>
    <p>They have been categorized by race, age group, and sex. </p>
</div>

<div class="container col-md-4 textBlue mb-6">

    <!-- race div -->

    <div class="form-group">
        <label for="inputRace">Select Graph by Race</label>
        <select id="inputRace" class="form-control textBlue">
            <option selected>Please Choose One...</option>
            <option value="White">White</option>
            <option value="Black or African American">Black/African American</option>
            <option value="American Indian or Alaska Native">American Indian/Alaska Native</option>
            <option value="Chinese">Chinese</option>
            <option value="Hispanic">Hispanic</option>
            <option value="Latino">Latino</option>
            <option value="Spanish">Spanish</option>
            <option value="Other Hispanic">Other Hispanic</option>
            <option value="Pacific Islander">Pacific Islander</option>
            <option value="Filipino">Filipino</option>
            <option value="Korean">Korean</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Native Hawaiian">Native Hawaiian</option>
            <option value="Chamorro">Chamorro</option>
            <option value="Samoan">Samoan</option>
            <option value="Asian Indian">Asian Indian</option>
            <option value="Other">Other</option>
        </select>
        <button type="button" name="inputRace" id="raceSubmit" class="btn btn-block green textBlue">Update
            Graph</button>
    </div>

</div>
<div id="myDiv"></div>
<!-- age div -->
<div class="container col-md-4 textBlue">

    <div class="form-group">
        <label for="inputAge">Select Graph by Age</label>
        <select id="inputAge" class="form-control textBlue">
            <option selected>Please Choose One...</option>
            <option value="16,19">16-19</option>
            <option value="20,29">20-29</option>
            <option value="30,39">30-39</option>
            <option value="40,49">40-49</option>
            <option value="50,59">50-59</option>
            <option value="60,69">60-69</option>
            <option value="70,79">70-79</option>
            <option value="80,89">80-89</option>
            <option value="90,110">90 and up</option>
        </select>
        <button type="button" name="inputAge" id="ageSubmit" class="btn btn-block green textBlue">Update Graph</button>
    </div>

</div>
<div id="myDiv2" class="textBlue"></div>
<!-- sex div -->
<div class="container col-md-4 textBlue">

    <div class="form-group">
        <label for="inputSex ">Select Graph by Sex</label>
        <select id="inputSex" class="form-control textBlue">
            <option selected>Please Choose One...</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Intersex">Intersex</option>
            <option value="Prefer Not To Say">Prefer Not To Say</option>
        </select>
        <button type="button" name="inputSex" id="sexButton" class="btn btn-block green textBlue">Update Graph</button>
    </div>


</div>
<div id="myDiv3"></div>

<script src="./js/graphRace.js"></script>
<script src="./js/graphAge.js"></script>
<script src="./js/graphSex.js"></script>