<h1>Statistics</h1>
<div id="myDiv">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<div id="myDiv2">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<div id="myDiv3">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<script src="../public/js/graph.js"></script>
{{!-- <script>
    var data = [{ this.trace1 }, { this.trace2 }, { this.trace3 }];
    var layout = {
        title: 'Vaccine Statistics',
        xaxis: {
            tickangle: -45
        },
        barmode: 'group'
    };
    res.render(Plotly.newPlot(document.getElementById('myDiv'), data, layout))
</script> --}}