<h1>Statistics</h1>
<div id="myDiv">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<div id="myDiv2">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<div id="myDiv3">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>
<script src="./js/graphRace.js"></script>
<script src="./js/graphAge.js"></script>
<script src="./js/graphSex.js"></script>