.lightBlue {
    background-color: #578BF2;

}
.textBlue{
    color: #03318c;
   
}

.middleBlue{
    background-color: #215ba6;
    
}

.jumbotron {
    background-color: #82d9c9; 
}

.light {
    
    background-color: #f2f2f2;
}

.form-group {
    padding: 5px;
    margin-bottom: 5px;
}

.form-control {
    border-style: solid;
    border-color:#578BF2;
    margin-top: 3px;
}
.form-check {
    
    margin-top: 15px;
}
.green {
    background-color: #82d9c9; 
}


h2{
    color: #03318C;
}
.contain1 {
  margin-top: 50px;
  color: #03318C;
  height:300px;
}

.navbar{
    background-color: #215BA6;
}

#hide{
    display:none;
}

.btn {
    padding-top: 2%;
    margin-top: 5px;
}
